.pagination { 
    margin-right: auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff; 
    margin-right: auto;
  }
  .pagination > li > a{
    border: 1px solid black  ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer; 
    margin-right: auto;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: black;
    border-color: black;
    outline: none ; 
    margin-right: auto;
  }
  .pagination > li > a, .pagination > li > span{
    color: black ; 
    margin-right: auto;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset ; 
    margin-right: auto;
  }